#root {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 17, 17);
    color: rgb(210, 7, 98);
  }
  
  nav ul {
    display: inline-block;
    justify-content: center;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 23px;
  }
  .left {
    font-size: 2rem;
  }
  /* nav ul li a:hover {
      color: rgb(63, 63, 182);
      font-size: 1.04rem;
    } */